<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>

<!DOCTYPE html>
<html>
	<body style="font-style:Arial; color:white; background-color:black;"></body>
	<img src="https://scontent-yyz1-1.xx.fbcdn.net/v/t39.30808-6/310244271_1795334810800445_6167369811529022146_n.jpg?stp=cp6_dst-jpg&_nc_cat=104&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=ncHMShUoB4MAX9wqSqm&tn=ZScHqTtY0W1rrlpb&_nc_ht=scontent-yyz1-1.xx&oh=00_AT8HjVY88hPUdOxH3IGodQwhEqtSZn1qbDQH4aD7V-jPXQ&oe=63434952" style="float:right; margin-right:20px;">
	<h1> Welcome to my personal Website</h1>
	<hr/>
	<body>Name: <i><b>Yin-Siang.Mao</b></i> (Student number:301180968)</body>

<p>Hi! You can call me Patrick. This is my personal web Page. I'm currently doing Software Engineering- Artificial Intelligence.</p>
<p><a href="https://drive.google.com/file/d/1jZxWa9kKVWLALAs2mHMPfvNnyvn2FRgT/view?usp=sharing">Resume</a></p>
<body>Favaorite activities
<ul style="list-style-image:url('animated-bullet-10.gif');">
<li>Working out</li>
<li>Play basketball</li>
<li>Watch movies</li>
<li>Surfing</li>
<li>investing</li>
</ul>
</body>
<body> Fun Fact about me
<ul>
<li> I'm a vegan.</li>
<li> I'm not fat I'm just strong.</li>
<li> went to high school in Kamloops, B.C.</li>
<li> I can speak 3 languages.</li>
<li> I stopped wearing diaper when I was 16 months old.</li>
</ul>

</html>


<%- include partials/bottom_nav.ejs %>


<%- include partials/footer.ejs %>