<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>

<!DOCTYPE html>
<html>
	<head>
		<title>
		Yin-Siang Mao - COMP 213 Web Interface Design Page
		</title>
	</head>
	<body style="font-style:Arial; color:white; background-color:black;"></body>
	<img src="file:///C:/Users/Yin%20Siang/OneDrive/%E6%A1%8C%E9%9D%A2/%E4%B8%80%E4%BA%9B%E7%85%A7%E7%89%87/IMG_4921.JPG">
	<h1> Welcome to my personal Website</h1>
	<hr/>
	<body>Name: <i><b>Yin-Siang.Mao</b></i> (Student number:301180968)</body>

<p>Hi! You can call me Patrick. This is my personal web Page. I'm currently doing Software Engineering- Artificial Intelligence.</p>
<p><a href="https://drive.google.com/file/d/1tCYd5T6OjqFbYbd_MfYLkJFXwXuhZI8C/view?usp=sharing">Resume</a></p>
<body>Favaorite activities
<ul style="list-style-image:url('animated-bullet-10.gif');">
<li>Working out</li>
<li>Play basketball</li>
<li>Watch movies</li>
<li>Surfing</li>
<li>investing</li>
</ul>
</body>
<body> Fun Fact about me
<ul>
<li> I'm a vegan.</li>
<li> I'm not fat I'm just strong.</li>
<li> went to high school in Kamloops, B.C.</li>
<li> I can speak 3 languages.</li>
<li> I stopped wearing diaper when I was 16 months old.</li>
</ul>

</html>


<%- include partials/bottom_nav.ejs %>


<%- include partials/footer.ejs %>