<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>

<!DOCTYPE html>
<html>
    <div class="container bg-light">
        <div class="jumbotron">
        <h2>Contact me: </h2>
        <h2>Moble Phone Number: (604)-618-7331</h2>
        <h2>Email: ymao6@my.cetennialcollege.ca</h2>
    </div>
    </div>

<style>
    .myform {
        border: 24px green;
        background-color: floralwhite;
        padding: 20px;
    }
    
    input:valid {
        width: 30px;
        margin: 3px;
        display: inline-block;
    }

    
    input:invalid {
        background: pink;
        border: 2px solid black;
        width: 30%;
        margin: 1px;
        display: inline-block;
    }
</style>
<body>
    <form class="myform" align="center">
        <h3><i>Personal infomation</i></h3>
        <label for="fname"><i>First name:</i></label>
        <input type="text" id="fname" name="fname" required /><br />
        <label for="lname"><i>Last name:</i></label>
        <input type="text" id="lname" name="lname" required /><br />
        <label for="saddress"><i>Street Address:</i></label>
        <input type="text" id="saddress" name="saddress" required /><br />
        <label for="city"><i>City:</i></label>
        <input type="text" id="city" name="city" required /><br />
        <label for="state"><i>State:</i></label>
        <select name="state" id="state" required>
            <option value="Sample1">New York</option>
            <option value="Sample2">California</option>
            <option value="Sample3">Texas</option>
            <option value="Sample4">Arizona</option>
            <option value="Sample5">Utah</option>
            <option value="Sample6">Gerogia</option>
            <option value="Sample7">Washington</option>
            <option value="Sample8">Others</option>
        </select>
        <br />
        <label for="zip"><i>Zip:</i></label>
        <input type="number" id="zip" name="zip" required /><br />
        <label for="phone"><i>Phone:</i></label>
        <input type="text" id="phone" name="phone" required /><br />
    </form>
    <br />

    

<script>
    function checkvalid() {
        
        var fname = document.getElementById("fname");
        var lname = document.getElementById("lname");
        var saddress = document.getElementById("saddress");
        var city = document.getElementById("city");
        var state = document.getElementById("state");
        var zip = document.getElementById("zip");
        var phone = document.getElementById("phone");

  
        
        if (!fname.checkValidity()) {
            fname.setCustomValidity("First Name cannot be left empty space.");
            fname.reportValidity();
        } else if (!lname.checkValidity()) {
            fname.setCustomValidity(" Last Name cannot be left empty space.");
            fname.reportValidity();
        } else if (!zip.checkValidity()) {
            zip.setCustomValidity("Zip code has to be number");
            zip.reportValidity();
        }
    }

    
</script>
</html>
<%- include partials/bottom_nav.ejs %>


<%- include partials/footer.ejs %>