<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>


<!--Main Content-->


<h3 align="center">products: </h3>


<%- include partials/bottom_nav.ejs %>


<%- include partials/footer.ejs %>
