<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>


<!--Main Content-->
<body style="color: gold; background-color:black;">
  <div style="margin-left:180px; margin-right:180px; padding:5px;background-color:grey; ">

<div class="container">
  <h3 align="center">Products: </h3>
  <p align="center"> This is the project I did last semester, it's about online hotel reservation. click the link to the PowerPoint</p>
<p align="center"><a href="https://centennialcollegeedu-my.sharepoint.com/:p:/g/personal/ymao6_my_centennialcollege_ca/Eaw2aOi-GA1Dils0lJjLa10BO-waziLzp5dPhhZWQ2Trrw?e=1ZDsiI">Hotel Management App project</a></p>

  <p align="center">This is the Web design project by using Javascript. CLick the link to the GitHub and hova a tour of Taiwan.</p>
<p align="center"><a href="https://github.com/patmao/Tawan-Gallery.git">Taiwan Gallery</a></p>

  <p align="center">This is the current project our team is workiing on. We are developing a phycology app. Click the link to see the user cases and diagrams.</p>
<p align="center"><a href="https://docs.google.com/document/d/1VtcxJTG3k7ZihL9_ufXSGj-ntFqpoQCah5C8-MqHXIM/edit?usp=sharing">Psycology App</a></p>
</div>
</body>



<%- include partials/bottom_nav.ejs %>


<%- include partials/footer.ejs %>
