<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>


<!--Main Content-->


<h3 align="center">products: </h3>

<p><a href="https://centennialcollegeedu-my.sharepoint.com/:p:/g/personal/ymao6_my_centennialcollege_ca/Eaw2aOi-GA1Dils0lJjLa10BO-waziLzp5dPhhZWQ2Trrw?e=1ZDsiI">Hotel Management App project</a></p>


<%- include partials/bottom_nav.ejs %>


<%- include partials/footer.ejs %>
