<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>


<!--Main Content-->


<h3 align="center">products: </h3>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Taiwan Gallery</title>
    <link href="images/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="bootstrap.min.css" rel="stylesheet" />
    <link href="assignment3.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Rock Salt' rel='stylesheet'>
    <!--<link href='https://fonts.googleapis.com/css?family=Bungee Inline' rel='stylesheet'>-->
    <!--<link href='https://fonts.googleapis.com/css?family=Covered By Your Grace' rel='stylesheet'>-->
</head>
<body>
    <div id="allPage">
      
        <div id="container">
            <header>
                <h1 style="color:gold">My Hometown: Taiwan </h1>
            </header>

            <article>
                <div id="leftarrow">
                    <p>&lt;</p>
                </div>
                <figure id="fig2">
                    <img width="360" height="202" />
                </figure>
                <figure id="fig3">
                    <img width="480" height="270" />
                </figure>
                <figure id="fig4">
                    <img width="360" height="202" />
                </figure>
                <div id="rightarrow">
                    <p>&gt;</p>
                </div>
                <div id="fiveButton">
                    <p style="color:palegoldenrod"> Show more images!!</p>
                </div>
            </article>
            <article id="favorites"></article>
        </div>
    </div>
    
    
    <script src="assignment3.js"></script>
</body>
</html>


<%- include partials/bottom_nav.ejs %>


<%- include partials/footer.ejs %>
