<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>


<!DOCTYPE html>
<html>
  <head>
    <style>

    </style>

  </head>

  <body>
    <video autoplay muted loop id="backgroundvideo">
      <source src="bvideo.mp4" type="video/mp4">

    </video>
  </body>
    
       <div Class="content" align="center">
          <li>Programing (Python, Java, C#)</li>
          <li>Code Correction</li>
          <li>Web Design</li>
       </div>
  
</html>



<%- include partials/bottom_nav.ejs %>


<%- include partials/footer.ejs %>
