<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>


<!DOCTYPE html>
<body style="color: gold; background-color:black;">
<div style="margin-left:180px; margin-right:180px; padding:5px;background-color:grey; ">
  <div Class="content" align="center">
    <h1>Service: </h1>
      <li>Programing (Python, Java, C#)</li>
      <li>Code Correction</li>
      <li>Web Design</li>
  </div>
</div>  
</body>
    
  




<%- include partials/bottom_nav.ejs %>


<%- include partials/footer.ejs %>
