<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>


<!DOCTYPE html>
<div style="padding:20px; margin:100px; background-color:pink; border:1px solid black;">

<div style="margin-left:180px; margin-right:180px; padding:5px;background-color:grey; ">
  <div Class="content" align="center">
    <h1>Service: </h1>
      <li>Programing (Python, Java, C#)</li>
      <li>Code Correction</li>
      <li>Web Design</li>
  </div>
</div>  
    
    
  




<%- include partials/bottom_nav.ejs %>


<%- include partials/footer.ejs %>
