<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>


<!--Main Content-->
<hi align="center">Service: </hi>
<div align="center">
  <ul style="list-style-image:url('animated-bullet-10.gif');">
    <li>Programing (Python, Java, C#)</li>
    <li>Code Correction</li>
    <li>Web Design</li>
  </ul>
</div>



<%- include partials/bottom_nav.ejs %>


<%- include partials/footer.ejs %>
